version: 1.0.{build}

image:
  - Visual Studio 2015
  - Ubuntu
  - ubuntu1804

environment:
  PERL5LIB: /home/appveyor/perl5/lib/perl5
  AUTOMATED_TESTING: 1
  TEST_VERBOSE: 1
  DEBIAN_FRONTEND: noninteractive

platform: x64

branches:
  only:
    - master

skip_tags: true

install:
  - cmd: if not exist "C:\strawberry" cinst StrawberryPerl --allow-empty-checksums
  - cmd: path C:\strawberry\perl\bin;C:\strawberry\perl\site\bin;C:\strawberry\c\bin;%PATH%
  # - cmd: cd C:\projects\%APPVEYOR_PROJECT_NAME%
  - sh: sudo apt-get update -q
  - sh: sudo DEBIAN_FRONTEND=noninteractive apt-get install -q -y --force-yes build-essential git libssl-dev perl
  - sh: sudo apt-get install -y perl libio-aio-perl liblingua-en-nameparse-perl
  - sh: export PATH=/home/appveyor/perl5/bin:$PATH
  - perl -V
  - cmd: mkdir %APPVEYOR_BUILD_FOLDER%\tmp
  - cmd: set TMPDIR=%APPVEYOR_BUILD_FOLDER%\tmp
  - cmd: cpan App::cpanminus
  - sh: sudo apt-get install -y cpanminus libchi-perl libjson-perl libconfig-auto-perl libipc-system-simple-perl libautodie-perl libtext-csv-xs-perl liblog-log4perl-perl libdbd-sqlite3-perl libtext-csv-perl
  - cpanm File::Fetch
  - cpanm -f DBIx::TableLoader
  - sh: cpanm -q -f Text::xSV::Slurp
  - cmd: cpanm -q -v -f Log::Log4perl CGI::IDS Data::Throttler
  - cpanm -v --installdeps .
  - cmd: cpanm -q CHI
  - cmd: cpanm -q --showdeps --with-develop --with-suggests . | findstr /v "^perl\>" | cpanm -n
  - cmd: 'echo End install at: & time /t'

build_script:
  - perl Makefile.PL

test_script:
  - cmd: gmake test TEST_VERBOSE=1
  - sh: TEST_VERBOSE=1 make test
