!Build/
.last_cover_stats
# /META.yml
# /META.json
/MYMETA.*
*.o
*.pm.tdy
*.bs
*.swp

# Devel::Cover
cover_db/

# Devel::NYTProf
nytprof.out

# Dizt::Zilla
/.build/

# Module::Build
_build/
Build
Build.bat

# Module::Install
inc/

# ExtUitls::MakeMaker
/blib/
/_eumm/
/*.gz
/Makefile
/Makefile.old
/MANIFEST.bak
/pm_to_blib
/*.zip

# Local files
lib/Geo/Coder/Free/MaxMind/databases/admin1.db
lib/Geo/Coder/Free/MaxMind/databases/admin2.db
lib/Geo/Coder/Free/MaxMind/databases/allCountries.txt
lib/Geo/Coder/Free/MaxMind/databases/cities.csv.gz
lib/Geo/Coder/Free/MaxMind/databases/cities.sql
save_to/
lib/Geo/Coder/Free/GeoNames/
