---
# See https://github.com/actions/virtual-environments
# https://github.com/marketplace/actions/setup-perl-environment

name: Test Website
permissions:
  contents: read
on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'
  pull_request:

jobs:
  perl:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        perl-version:
          # - '5.16'
          # - '5.22'
          # - '5.32'
          - 'latest'

    container:
      image: perl:${{ matrix.perl-version }}

    steps:
      - uses: actions/checkout@v6
      - name: update
        run: apt update && apt-get -y upgrade
      - name: install packages
        run: apt-get -y install liblwp-protocol-https-perl cpanminus libhtml-parser-perl
      - name: perl -V
        run: perl -V
      - name: Install Dependencies
        env:
          AUTOMATED_TESTING: 1
          OPENADDR_HOME: /tmp
        run: |
          cpanm -ivn ExtUtils::MakeMaker Test::Most Clone Data::Serializer
          cpanm -ivnf LWP::Simple::WithCache CGI::IDS DB_File
          cpanm -ivn CGI::Carp FCGI::Buffer Taint::Runtime FCGI
          cpanm -ivfn Data::Throttler CGI::ACL B::Lint
          cpanm --skip-satisfied -vn LWP::UserAgent::Cached Data::Serializer
          cpanm --skip-satisfied -vn warnings::unused HTML::SocialMedia Carp::Always
          cpanm --skip-satisfied -vn Log::Any::Adapter::Log4perl Database::Abstraction
          cpanm --skip-satisfied -iqn Template::Filters Template::Plugin::EnvHash
          cpanm --skip-satisfied -vn Log::WarnDie IPC::System::Simple Array::Iterator
          cpanm --skip-satisfied -iqn Log::Dispatch::File YAML::XS Mo Class::Simple Parallel::ForkManager
          cpanm -ivn --installdeps .
      - name: Install files
        run: mkdir -p /var/www/geocode.nigelhorne.com && cp -r templates /var/www/geocode.nigelhorne.com
      - name: Run Tests
        env:
          AUTOMATED_TESTING: 1
          OPENADDR_HOME: /tmp
          ROOT_DIR: /var/www/geocode.nigelhorne.com
        run: |
          pwd
          perl -c -Ilib -MO=Lint cgi-bin/page.fcgi
          perl -c -Ilib -Mwarnings::unused cgi-bin/page.fcgi
          cd cgi-bin && mkdir -p ../data && perl -c -MO=Lint ./page.fcgi '' && perl -c -Mwarnings::unused ./page.fcgi ''
          cd .. && root_dir=$(pwd) perl -Ilib cgi-bin/page.fcgi page=index
          root_dir=$(pwd) perl -Ilib cgi-bin/page.fcgi page=meta_data
          root_dir=$(pwd) perl -Ilib cgi-bin/page.fcgi page=query query='Stock%20or%20(1,2\)=(select*from(select%20name_const(CHAR(111,108,111,108,111,115,104,101,114\),1\),name_const(CHAR( <-- HERE 111,108,111,108,111,115,104,101,114\),1\)\)a\)%20--%20and%201%3D1'
